---
layout: layout.liquid
title: Home
---

<h1>What do I need to take with me <strong>Everyday?</strong></h1>
{% user "Kyle Teszlewicz", "@teszlewiczk" %}
<img class="emblem" alt="emblem" src="/images/emblem.png"/>