---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>What do I need to take with me <strong>Everyday?</strong></h1>
{% user "Kyle Teszlewicz", "@teszlewiczk" %}
<img alt="pine" src="/images/pine.png" width="50" />